
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/fscps.tools/.vs/*
library/fscps.tools/bin/*
library/fscps.tools/obj/*

# Ignore staging info from Visual Studio
fscps.tools/bin/*

# ignore PowerShell Studio MetaData
fscps.tools/fscps.tools.psproj
fscps.tools/fscps.tools.psproj.bak
fscps.tools/fscps.tools.psprojs
fscps.tools/fscps.tools.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*